@import-normalize; /* bring in normalize.css styles */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  display: flex;
  justify-content: center;

}
@media screen and (max-height: 480px) {
  #root {
  min-height: 100vh;
  align-items: center;}
  
}

 .app {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  -moz-user-select: none; -khtml-user-select: none; user-select: none;
} 

.library-active {
  margin-left: 20rem;
}

@media screen and (max-width: 768px) {
  .app {
      width: 100%;
  }
  .library-active {
    margin-left: 0;
  }
  
}

@media screen and (max-height: 480px) {
  .app {
      width: 100%;
      flex-direction: row-reverse;
  }
  .library-active {
    margin-left: 15rem;
  }
  
}