.nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;

    button {
        padding: 0.5rem;
        border: 2px solid rgb(65,65,65);
        background-color: white;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        z-index: 2;
        &:hover {
            background-color: rgb(65,65,65);
            color: white;
        }
    }
}

@media screen and (max-height: 480px) {
    .nav {
        position: fixed;
        width: 100%;
        top:10px;
        left:0;
        // align-self: start;
        // justify-content: flex-end;
        //padding: 1rem;

    }
    
    
  }