.nav {
    width: 75%;
    display: flex;
    justify-content: end;

    button {
        padding: 0.5rem;
        border: 2px solid rgb(65,65,65);
        background-color: white;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
            background-color: rgb(65,65,65);
            color: white;
        }
    }
}